<!DOCTYPE html>
<html>
    <head>
        <title>Malaria Detection</title>
    </head>
    <body>
        <h1>Malaria Detection Using Deep Learning</h1>
        <form action='/' method="post" enctype="multipart/form-data">
            <input type="file" id="img" name="file" accept="image/*">
            <input type="submit" value="Predict">
        </form>
        {% if result %}
            <img src="/static/{{ file.filename }}"/>
            <p>{{result}} with {{percent}}% confidence</p>
        {% endif %}
    </body>
</html>